## <font color=blue>**Reading in our Movie Data with Pandas**</font>

In [42]:
import pandas as pd

# https://files.grouplens.org/datasets/movielens/ml-25m.zip
movies = pd.read_csv("C:\\Users\\INFOKOM\\Desktop\\fida\\Movie Rocommendation System\\movies.csv")

In [43]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

## <font color=blue>**Cleaning Movie Titles with Regex**</font>

#importing the re module, which is the module for regular expressions in Python. 
#Regular expressions are used to perform search and replacement operations on patterns in strings.

#using the 're.sub()' function from the 're' module to replace all characters that are not uppercase letters, lowercase letters, digits, or spaces with an empty string '""'

#'[^a-zA-Z0-9 ]' matches any character that is not an uppercase letter, lowercase letter, digit, or space.

In [44]:
import re
def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title

#adding a new column called "clean_title" to the DataFrame "movies" by applying the function clean_title to the existing column "title".

In [45]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [46]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

## <font color=blue>**Creating a TFIDF Matrix**</font>

La matrice TF-IDF (Term Frequency-Inverse Document Frequency) est une reprÃ©sentation numÃ©rique des donnÃ©es textuelles, souvent utilisÃ©e dans le domaine de l'apprentissage automatique et du traitement du langage naturel. Cette matrice capture l'importance relative de chaque mot dans un ensemble de documents en attribuant Ã  chaque mot un score qui prend en compte sa frÃ©quence d'apparition dans chaque document ainsi que sa frÃ©quence d'apparition dans l'ensemble des documents.

**1-FrÃ©quence des termes (TF - Term Frequency) :**
Pour chaque mot dans un document, la frÃ©quence des termes mesure le nombre de fois que ce mot apparaÃ®t dans le document. Une frÃ©quence des termes plus Ã©levÃ©e indique que le mot est plus important pour ce document.

**2-FrÃ©quence inverse du document (IDF - Inverse Document Frequency) :**
La frÃ©quence inverse du document mesure l'importance d'un mot dans l'ensemble des documents. Les mots qui apparaissent frÃ©quemment dans tous les documents ont une faible valeur IDF, tandis que les mots qui sont spÃ©cifiques Ã  certains documents ont une valeur IDF plus Ã©levÃ©e. Cela permet de donner plus de poids aux mots qui sont plus discriminants.

**3-Combinaison de TF et IDF (TF-IDF) :**
La valeur TF-IDF d'un mot dans un document est calculÃ©e en multipliant la frÃ©quence des termes (TF) du mot dans ce document par la frÃ©quence inverse du document (IDF) pour ce mot. Ainsi, un mot aura une valeur TF-IDF plus Ã©levÃ©e s'il apparaÃ®t frÃ©quemment dans un document spÃ©cifique tout en Ã©tant rare dans l'ensemble des documents.

La matrice TF-IDF rÃ©sultante est une reprÃ©sentation matricielle oÃ¹ chaque ligne reprÃ©sente un document (par exemple, un titre de film dans notre cas) et chaque colonne reprÃ©sente un mot (unigramme ou bigramme dans notre cas), avec les valeurs TF-IDF correspondantes indiquant l'importance relative des mots dans chaque document. Cette reprÃ©sentation est souvent utilisÃ©e comme entrÃ©e pour des modÃ¨les d'apprentissage automatique, tels que des classificateurs ou des systÃ¨mes de recommandation, pour analyser et traiter des donnÃ©es textuelles.

#importer la classe TfidfVectorizer du module sklearn.feature_extraction.text. 
#TfidfVectorizer est une mÃ©thode utilisÃ©e pour convertir des donnÃ©es textuelles en une matrice de caractÃ©ristiques TF-IDF.

#initialiser un objet TfidfVectorizer appelÃ© vectorizer. 
#Le paramÃ¨tre ngram_range=(1,2) spÃ©cifie que le vectoriseur devrait considÃ©rer Ã  la fois les unigrammes (mots individuels) et les bigrammes (paires de mots adjacents) lors de la gÃ©nÃ©ration des caractÃ©ristiques. Cela signifie que Ã  la fois les mots individuels et les paires de mots consÃ©cutifs seront considÃ©rÃ©s comme des caractÃ©ristiques.

#utiliser la mÃ©thode fit_transform de l'objet vectorizer pour convertir les titres de films nettoyÃ©s (movies["clean_title"]) en une matrice TF-IDF. fit_transform calcule les valeurs TF-IDF pour les donnÃ©es d'entrÃ©e donnÃ©es et renvoie une reprÃ©sentation matricielle Ã©pars. Chaque ligne de la matrice correspond Ã  un titre de film, et chaque colonne correspond Ã  un mot unique ou une combinaison de mots (unigramme ou bigramme) prÃ©sente dans les titres. La valeur de chaque cellule dans la matrice reprÃ©sente le score TF-IDF du mot ou de la combinaison de mots correspondant dans le titre de film respectif.

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,2))
tfidf = vectorizer.fit_transform(movies["clean_title"])

## <font color=blue>**Creating a Search Function**</font>

#importer la fonction cosine_similarity du module sklearn.metrics.pairwise. cosine_similarity est une fonction qui calcule la similaritÃ© cosinus entre des vecteurs. Dans le contexte des donnÃ©es textuelles, la similaritÃ© cosinus est souvent utilisÃ©e pour mesurer la similaritÃ© entre des documents reprÃ©sentÃ©s sous forme de vecteurs dans un espace de grande dimension.

#importe la bibliothÃ¨que NumPy, une bibliothÃ¨que populaire pour le calcul numÃ©rique en Python. NumPy est souvent utilisÃ© pour manipuler des tableaux et effectuer des opÃ©rations mathÃ©matiques.

#transformer le titre nettoyÃ© en un vecteur TF-IDF en utilisant la mÃ©thode transform de l'objet vectorizer. Le vecteur query_vec reprÃ©sente le vecteur TF-IDF pour le titre d'entrÃ©e.

#calculer la similaritÃ© cosinus entre le vecteur TF-IDF du titre d'entrÃ©e (query_vec) et la matrice TF-IDF de tous les titres de films (tfidf). La fonction cosine_similarity renvoie une matrice de scores de similaritÃ©, et .flatten() la convertit en un tableau unidimensionnel.

#trouver les indices des 5 films les plus similaires au titre d'entrÃ©e, en se basant sur les scores de similaritÃ© dans le tableau similarity. Elle utilise la fonction argpartition de NumPy pour trouver efficacement les indices des 5 premiers Ã©lÃ©ments dans le tableau similarity.

#rÃ©cupÃ¨rer les 5 films les plus similaires Ã  partir du DataFrame movies en se basant sur leurs indices dans le tableau indices. Ensuite, elle inverse l'ordre des rÃ©sultats pour afficher le film le plus similaire en premier.

En rÃ©sumÃ©, cette fonction prend un titre de film en entrÃ©e, le nettoie, calcule son vecteur TF-IDF, calcule la similaritÃ© cosinus entre le titre d'entrÃ©e et tous les titres de films, rÃ©cupÃ¨re les 5 films les plus similaires et les renvoie comme rÃ©sultats de recherche.

<font color=red>**La fonction cosine_similarity:**</font> est une fonction utilisÃ©e pour calculer la similaritÃ© cosinus entre des vecteurs. Dans le contexte de l'analyse de texte, elle est souvent utilisÃ©e pour mesurer la similitude entre des documents reprÃ©sentÃ©s sous forme de vecteurs dans un espace vectoriel. Voici une explication dÃ©taillÃ©e de la fonction cosine_similarity :

Supposons que nous ayons deux vecteurs A et B dans un espace vectoriel :

La similaritÃ© cosinus entre les vecteurs A et B est calculÃ©e comme le cosinus de l'angle entre eux. C'est une mesure de la similitude entre les deux vecteurs.
La formule mathÃ©matique de la similaritÃ© cosinus entre les vecteurs A et B est donnÃ©e par :
**cosine_similarity(A, B) = (A . B) / (||A|| * ||B||)**
oÃ¹ :

(A . B) reprÃ©sente le produit scalaire des vecteurs A et B.
||A|| et ||B|| reprÃ©sentent les normes Euclidiennes des vecteurs A et B, respectivement.

La similaritÃ© cosinus varie entre -1 et 1 :

-Une similaritÃ© de 1 signifie que les deux vecteurs sont parfaitement alignÃ©s dans la mÃªme direction.
-Une similaritÃ© de -1 signifie que les deux vecteurs sont parfaitement alignÃ©s dans des directions opposÃ©es.
-Une similaritÃ© de 0 signifie que les deux vecteurs sont orthogonaux, c'est-Ã -dire qu'ils sont perpendiculaires l'un Ã  l'autre.

Dans le contexte de l'analyse de texte :

-Chaque document est reprÃ©sentÃ© sous forme de vecteur, oÃ¹ chaque dimension correspond Ã  un terme (mot) et la valeur de chaque dimension reprÃ©sente une mesure de l'importance du terme dans le document (par exemple, TF-IDF).
-La similaritÃ© cosinus entre deux documents mesure Ã  quel point ils sont similaires en termes de distribution de mots importants.

La fonction cosine_similarity de scikit-learn calcule efficacement la similaritÃ© cosinus entre les vecteurs en utilisant des calculs matriciels, ce qui est particuliÃ¨rement utile lors du traitement de grands ensembles de donnÃ©es textuelles. Elle prend en entrÃ©e deux matrices de vecteurs et renvoie une matrice de similaritÃ© cosinus oÃ¹ chaque Ã©lÃ©ment (i, j) reprÃ©sente la similaritÃ© cosinus entre les vecteurs de ligne i et de colonne j des matrices d'entrÃ©e.

In [48]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

#def search(title):
title="Toy Story 1995"
title = clean_title(title)
query_vec = vectorizer.transform([title])
similarity = cosine_similarity(query_vec, tfidf).flatten()
indices = np.argpartition(similarity, -5)[-5:]
results = movies.iloc[indices].iloc[::-1]
    
    #return results

In [49]:
title

'Toy Story 1995'

In [50]:
query_vec

<1x170073 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [51]:
similarity

array([1.        , 0.09681098, 0.06531543, ..., 0.        , 0.        ,
       0.        ])

In [52]:
indices

array([20497, 14813, 59767,  3021,     0], dtype=int64)

In [53]:
results

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
59767,201588,Toy Story 4 (2019),Adventure|Animation|Children|Comedy,Toy Story 4 2019
14813,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
20497,106022,Toy Story of Terror (2013),Animation|Children|Comedy,Toy Story of Terror 2013

In [54]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies.iloc[indices].iloc[::-1]
    
    return results

 ## <font color=blue>**Building an interactive Search Box with Jupyter**</font>

Ce code crÃ©e une interface utilisateur simple dans un notebook Jupyter Ã  l'aide de la bibliothÃ¨que ipywidgets. 

<font color=red>**1.Importation des bibliothÃ¨ques nÃ©cessaires :**</font>

**'import ipywidgets as widgets' :** Cette ligne importe le module widgets de la bibliothÃ¨que ipywidgets. Les widgets sont des Ã©lÃ©ments interactifs tels que des boutons, des champs de texte, etc., qui peuvent Ãªtre utilisÃ©s pour crÃ©er des interfaces utilisateur interactives dans les notebooks Jupyter.
**'from IPython.display import display' :** Cette ligne importe la fonction display du module IPython.display. Cette fonction est utilisÃ©e pour afficher des widgets et d'autres Ã©lÃ©ments dans le notebook Jupyter.

<font color=red>**2.CrÃ©ation d'un champ de texte pour saisir le titre du film :**</font>

**'movie_input = widgets.Text(value='Toy Story', description='Movie Title:', disabled=False)' :** Cette ligne crÃ©e un widget de type Text (champ de texte) avec une valeur par dÃ©faut "Toy Story" et une description "Movie Title:". Le paramÃ¨tre disabled=False indique que le champ de texte est activÃ© et peut Ãªtre modifiÃ©.

<font color=red>**3.CrÃ©ation d'un conteneur pour afficher les rÃ©sultats de la recherche de films :**</font>

**'movie_list = widgets.Output()' :** Cette ligne crÃ©e un widget de type Output (sortie) qui servira de conteneur pour afficher les rÃ©sultats de la recherche de films.

<font color=red>**4.DÃ©finition d'une fonction pour gÃ©rer les Ã©vÃ©nements de saisie dans le champ de texte :**</font>

**'def on_type(data)' :** Cette ligne dÃ©finit une fonction nommÃ©e on_type qui prend un argument data.

**'with movie_list' :** Cette ligne utilise un contexte with pour rediriger la sortie vers le widget movie_list.

**'movie_list.clear_output()' :** Cette ligne efface tout contenu prÃ©cÃ©dent du widget movie_list.

**'title = data["new"]' :** Cette ligne extrait la nouvelle valeur saisie dans le champ de texte.

**'if len(title) > 5' :** Cette ligne vÃ©rifie si le titre saisi a une longueur supÃ©rieure Ã  5 caractÃ¨res.

**'display(search(title))' :** Cette ligne appelle la fonction search avec le titre saisi comme argument et affiche les rÃ©sultats de la recherche dans le widget movie_list.

<font color=red>**5.Observation des changements dans le champ de texte :**</font>

**'movie_input.observe(on_type, names='value')' :** Cette ligne observe les changements dans la valeur du champ de texte movie_input et appelle la fonction on_type en cas de changement.

<font color=red>**6.Affichage des widgets dans le notebook :**</font>

**'display(movie_input, movie_list)' :** Cette ligne affiche les widgets movie_input (champ de texte) et movie_list (conteneur de rÃ©sultats) dans le notebook.
En rÃ©sumÃ©, ce code crÃ©e un champ de texte oÃ¹ vous pouvez saisir le titre d'un film, et Ã  mesure que vous tapez, il affiche les rÃ©sultats de la recherche de films correspondants en dessous.

In [55]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value='Toy Story 1995',
    description='Movie Title:',
    disabled=False
)
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')


display(movie_input, movie_list)

Text(value='Toy Story 1995', description='Movie Title:')

Output()

## <font color=blue>**Reading in Movie Ratings Data**</font>

In [56]:
movie_id = 89745

#def find_similar_movies(movie_id):
movie = movies[movies["movieId"] == movie_id]

In [57]:
ratings = pd.read_csv("C:\\Users\\INFOKOM\\Desktop\\fida\\Movie Rocommendation System\\ratings.csv")
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [58]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

Ces lignes de code effectuent plusieurs opÃ©rations sur le DataFrame "ratings" pour trouver des recommandations de films basÃ©es sur les prÃ©fÃ©rences des utilisateurs similaires. 

**'similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique() :**'

-Cette ligne sÃ©lectionne les identifiants uniques des utilisateurs qui ont attribuÃ© une note Ã©levÃ©e (supÃ©rieure Ã  4) au film spÃ©cifique identifiÃ© par "movie_id".
-Elle filtre les donnÃ©es du DataFrame "ratings" pour ne conserver que les Ã©valuations pour le film spÃ©cifique et avec une note supÃ©rieure Ã  4.
-Ensuite, elle extrait les identifiants uniques de ces utilisateurs.

**'similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"] :**'

-Cette ligne sÃ©lectionne les identifiants des films qui ont Ã©tÃ© Ã©valuÃ©s positivement (avec une note supÃ©rieure Ã  4) par les utilisateurs similaires.
-Elle filtre les donnÃ©es du DataFrame "ratings" pour ne conserver que les Ã©valuations faites par les utilisateurs identifiÃ©s dans la variable "similar_users" et avec une note supÃ©rieure Ã  4.
-Ensuite, elle extrait les identifiants des films correspondants.

**'similar_user_recs = similar_user_recs.value_counts() / len(similar_users) :**'

-Cette ligne calcule le nombre d'Ã©valuations de chaque film par les utilisateurs similaires, puis divise ce nombre par le nombre total d'utilisateurs similaires.
-Cela permet d'obtenir une estimation de la proportion d'utilisateurs similaires qui ont Ã©valuÃ© chaque film positivement.

**'similar_user_recs = similar_user_recs[similar_user_recs > .10] :**'

-Cette ligne filtre les recommandations en ne conservant que les films pour lesquels la proportion d'utilisateurs similaires ayant donnÃ© une note positive est supÃ©rieure Ã  0.10 (10%).
-Cela permet de restreindre les recommandations aux films qui sont fortement apprÃ©ciÃ©s par une proportion significative des utilisateurs similaires.

En rÃ©sumÃ©, ces lignes de code permettent de trouver des recommandations de films basÃ©es sur les prÃ©fÃ©rences des utilisateurs similaires, en filtrant les Ã©valuations pour un film spÃ©cifique et en sÃ©lectionnant les films qui ont Ã©tÃ© positivement Ã©valuÃ©s par un nombre important d'utilisateurs similaires.

In [59]:
movie_id=1

In [60]:
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] >4)]

In [61]:
similar_users

          userId  movieId  rating   timestamp
5101          36        1     5.0   857131378
9939          75        1     5.0  1537207651
11842         86        1     5.0   945462775
12232         90        1     5.0   863538043
12504         93        1     5.0  1496543050
...          ...      ...     ...         ...
24996419  162519        1     5.0  1000946439
24997459  162524        1     4.5  1072919304
24997758  162527        1     4.5  1301688215
24998300  162530        1     5.0   989808332
24998525  162533        1     4.5  1280920369

[18835 rows x 4 columns]

In [62]:
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] >4)]["userId"].unique()

In [63]:
similar_users

array([    36,     75,     86, ..., 162527, 162530, 162533], dtype=int64)

In [64]:
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] >4)]

In [65]:
similar_user_recs

          userId  movieId  rating   timestamp
5101          36        1     5.0   857131378
5105          36       34     5.0   834413787
5111          36      110     5.0   834412999
5114          36      150     5.0   839928587
5127          36      260     5.0   857131062
...          ...      ...     ...         ...
24998854  162533    60069     4.5  1280919889
24998861  162533    67997     4.5  1280920712
24998876  162533    78499     4.5  1281405901
24998884  162533    81591     4.5  1297289876
24998888  162533    88129     4.5  1329514139

[1358326 rows x 4 columns]

In [66]:
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] >4)]["movieId"]

In [67]:
similar_user_recs

5101            1
5105           34
5111          110
5114          150
5127          260
            ...
24998854    60069
24998861    67997
24998876    78499
24998884    81591
24998888    88129
Name: movieId, Length: 1358326, dtype: int64

In [68]:
similar_user_recs.value_counts()

movieId
1         18835
318        8393
260        7605
356        6973
296        6918
          ...
128478        1
125125        1
119701        1
107563        1
7625          1
Name: count, Length: 19282, dtype: int64

In [69]:
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
similar_user_recs = similar_user_recs[similar_user_recs > .10]

In [70]:
similar_user_recs

movieId
1        1.000000
318      0.445607
260      0.403770
356      0.370215
296      0.367295
           ...
953      0.103053
551      0.101195
1222     0.100876
745      0.100345
48780    0.100186
Name: count, Length: 113, dtype: float64

## <font color=blue>**Finding how much all Users like Movies**</font>

<font color=red>**Filtrage des Ã©valuations :**</font>

**'all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)] :'**
Cela sÃ©lectionne les Ã©valuations dans le DataFrame "ratings" pour lesquelles l'identifiant du film est parmi ceux recommandÃ©s par des utilisateurs similaires (stockÃ©s dans similar_user_recs), et oÃ¹ la note attribuÃ©e est supÃ©rieure Ã  4. Ces Ã©valuations sont stockÃ©es dans la variable "all_users".

<font color=red>**Calcul de la popularitÃ© des films recommandÃ©s :**</font>

**'all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique()) :'**
Cela compte le nombre d'occurrences de chaque identifiant de film parmi les Ã©valuations filtrÃ©es dans "all_users", puis divise ce nombre par le nombre d'utilisateurs uniques qui ont donnÃ© ces Ã©valuations. Cela donne une mesure de la popularitÃ© relative des films recommandÃ©s par des utilisateurs similaires. Les rÃ©sultats sont stockÃ©s dans la variable "all_user_recs".

In [71]:
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [72]:
all_users

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
29             1     4973     4.5  1147869080
48             1     7361     5.0  1147880055
72             2      110     5.0  1141416589
76             2      260     5.0  1141417172
...          ...      ...     ...         ...
25000062  162541     5618     4.5  1240953299
25000065  162541     5952     5.0  1240952617
25000078  162541     7153     5.0  1240952613
25000081  162541     7361     4.5  1240953484
25000090  162541    50872     4.5  1240953372

[1727573 rows x 4 columns]

In [73]:
all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [74]:
all_user_recs

movieId
318      0.342220
296      0.284674
2571     0.244033
356      0.235266
593      0.225909
           ...
551      0.040918
50872    0.039111
745      0.037031
78499    0.035131
2355     0.025091
Name: count, Length: 113, dtype: float64

## <font color=blue>**Creating a Recommendation Score**</font>

**'rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1) :'**

Elle crÃ©e un nouveau DataFrame appelÃ© "rec_percentages" en fusionnant les DataFrames "similar_user_recs" et "all_user_recs" le long de l'axe des colonnes. Ainsi, "rec_percentages" contient les pourcentages de recommandation pour les films similaires et pour tous les films Ã©valuÃ©s.

**'rec_percentages.columns = ["similar", "all"] :'**

Elle renomme les colonnes de "rec_percentages" pour les identifier clairement comme les pourcentages de recommandation des films similaires et de tous les films Ã©valuÃ©s.

**'rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"] :'**

Elle calcule un nouveau score en divisant les pourcentages de recommandation pour les films similaires par les pourcentages de recommandation pour tous les films Ã©valuÃ©s. Cela permet de dÃ©terminer un score relatif de chaque film en fonction de sa similaritÃ© avec les utilisateurs et de sa popularitÃ© gÃ©nÃ©rale.

**'rec_percentages = rec_percentages.sort_values("score", ascending=False) :'**

Elle trie les valeurs de "rec_percentages" en fonction du score calculÃ© prÃ©cÃ©demment, du plus Ã©levÃ© au plus bas, pour mettre en avant les films les plus pertinents en tÃªte de liste.

**'rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId") :'**

Elle sÃ©lectionne les dix premiÃ¨res lignes de "rec_percentages" (c'est-Ã -dire les dix films les mieux classÃ©s) et les fusionne avec le DataFrame "movies" en utilisant l'identifiant du film comme clÃ© de jointure. Cela permet d'obtenir les dÃ©tails des films recommandÃ©s, tels que leur titre, leur genre, etc.

<font color=red>**'merge(movies, left_index=True, right_on="movieId") :'**</font>

La mÃ©thode **'merge()'** fusionne les donnÃ©es de deux DataFrames en utilisant une colonne commune comme clÃ© de jointure.

**'movies'** est le DataFrame contenant les dÃ©tails sur les films, comme leur titre, leur genre, etc.

**'left_index=True'** indique Ã  Pandas d'utiliser l'index du DataFrame de gauche ("rec_percentages") comme clÃ© de jointure.

**'right_on="movieId"'** spÃ©cifie que la colonne "movieId" du DataFrame "movies" doit Ãªtre utilisÃ©e comme clÃ© de jointure.

En rÃ©sumÃ©, ces lignes de code combinent les recommandations basÃ©es sur la similaritÃ© des utilisateurs avec la popularitÃ© gÃ©nÃ©rale des films, calculent un score relatif pour chaque film, puis classent les films en fonction de ce score pour prÃ©senter les dix meilleurs choix, en incluant leurs dÃ©tails issus du DataFrame "movies".

In [75]:
rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

In [76]:
rec_percentages

          similar       all
movieId
1        1.000000  0.124728
318      0.445607  0.342220
260      0.403770  0.222207
356      0.370215  0.235266
296      0.367295  0.284674
...           ...       ...
953      0.103053  0.045792
551      0.101195  0.040918
1222     0.100876  0.066877
745      0.100345  0.037031
48780    0.100186  0.068314

[113 rows x 2 columns]

In [77]:
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [78]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [79]:
rec_percentages

          similar       all     score
movieId
1        1.000000  0.124728  8.017414
3114     0.280648  0.053706  5.225654
2355     0.110539  0.025091  4.405452
78499    0.152960  0.035131  4.354038
4886     0.235147  0.070811  3.320783
...           ...       ...       ...
2858     0.216724  0.167634  1.292845
296      0.367295  0.284674  1.290232
79132    0.166817  0.131384  1.269693
4973     0.142501  0.112405  1.267747
2959     0.262649  0.216717  1.211946

[113 rows x 3 columns]

In [80]:
rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.124728,8.017414,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.280648,0.053706,5.225654,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.110539,0.025091,4.405452,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
14813,0.152960,0.035131,4.354038,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
4780,0.235147,0.070811,3.320783,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy,Monsters Inc 2001
580,0.216618,0.067513,3.208539,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
6258,0.228139,0.072268,3.156862,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,Finding Nemo 2003
587,0.179400,0.059977,2.991150,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
8246,0.203504,0.068453,2.972889,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,Incredibles The 2004
359,0.253411,0.085764,2.954762,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,Lion King The 1994

## <font color=blue>**Building a Recommendation Function**</font>

In [81]:
def find_similar_movies(movie_id):
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

    similar_user_recs = similar_user_recs[similar_user_recs > .10]
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]
    
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]

## <font color=blue>**Creating an Interactive Recommendation Widget**</font>

In [82]:
import ipywidgets as widgets
from IPython.display import display

movie_name_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names='value')

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()